name: bld-ci

on: [push, pull_request, workflow_dispatch]

jobs:
  build-bld-project:
    strategy:
      matrix:
        java-version: [17, 21, 25]
        os: [ubuntu-latest, windows-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: ${{ matrix.java-version }}

      - name: Download dependencies [examples]
        run: ./bld download

      - name: Compile source
        run: ./bld compile

      - name: Run tests
        run: ./bld test

      - name: Create the JAR
        run: ./bld bootjar

      - name: Create the WAR
        run: ./bld bootwar
